@charset "UTF-8";
/* ! */
/* ! */
/* ! */
/* ! */
.btn_white_1, .btn_white {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  transition: 0.3s ease;
  border: 2px solid #28bd25;
}
.btn_white_1:hover, .btn_white:hover {
  background-color: #28bd25;
  color: #fff;
}

.btn_green—-with_arrow, .btn_green {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color: #28bd25;
  transition: 0.3s ease;
  border: 2px solid #28bd25;
}
.btn_green—-with_arrow:hover, .btn_green:hover {
  background-color: #fff;
  color: #28bd25;
}

.btn_green—-with_arrow, .btn_white_1, .btn_white, .btn_green {
  min-width: 28.2rem;
  height: 8.8rem;
  padding: 0 2rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  border-radius: 4.9rem;
}

.btn_green—-with_arrow {
  position: relative;
  text-transform: uppercase;
  color: #fff;
}
.btn_green—-with_arrow::after {
  content: "";
  position: absolute;
  right: 4rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.8rem;
  height: 1.6rem;
  transition: 0.3s ease;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='16' fill='%23000'%3E%3Cpath fill='%23000' d='m17.712 7.3-6.5-6.5a.978.978 0 0 0-.697-.287A.978.978 0 0 0 9.82.8l-.59.59a.997.997 0 0 0 0 1.401l3.792 3.801H.972A.961.961 0 0 0 0 7.561v.835c0 .543.43 1.011.972 1.011h12.092L9.229 13.23a.964.964 0 0 0-.288.69.97.97 0 0 0 .287.693l.59.589a.977.977 0 0 0 .697.286.978.978 0 0 0 .697-.288l6.5-6.5A.979.979 0 0 0 18 8a.978.978 0 0 0-.288-.7Z'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='16' fill='%23000'%3E%3Cpath fill='%23000' d='m17.712 7.3-6.5-6.5a.978.978 0 0 0-.697-.287A.978.978 0 0 0 9.82.8l-.59.59a.997.997 0 0 0 0 1.401l3.792 3.801H.972A.961.961 0 0 0 0 7.561v.835c0 .543.43 1.011.972 1.011h12.092L9.229 13.23a.964.964 0 0 0-.288.69.97.97 0 0 0 .287.693l.59.589a.977.977 0 0 0 .697.286.978.978 0 0 0 .697-.288l6.5-6.5A.979.979 0 0 0 18 8a.978.978 0 0 0-.288-.7Z'/%3E%3C/svg%3E");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: #fff;
}
.btn_green—-with_arrow:hover::after {
  background-color: #28bd25;
}

.contacts_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.contacts_main_img {
  max-width: 192rem;
  margin-top: 15rem;
}
.contacts_main_img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.contact_info {
  display: flex;
  justify-content: center;
  margin-top: 13rem;
  gap: 14rem;
  max-width: 130rem;
  min-height: 23.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}

.contact_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 21.6rem;
}
.contact_block.numbers {
  line-height: 1;
}

.contact_title {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.4;
  margin-top: 1rem;
}

.contact_location {
  max-width: 142rem;
  min-height: 50rem;
}
.contact_location img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.numbers a {
  color: #333333;
  text-decoration: none;
}

.social_links {
  display: flex;
  flex-direction: column;
}
.social_links a {
  text-decoration: none;
  color: #8a8a8a;
}

.icon {
  max-width: 4.6rem;
  min-height: 4.6rem;
}
.icon img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.form_wrap {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 192rem;
  background-color: #f5f5f5;
}

.form_girl_img {
  max-width: 57.4rem;
  min-height: 81.8rem;
  overflow: hidden;
}
.form_girl_img img {
  display: block;
  width: 100%;
  height: 110%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.form_call-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 94rem;
  min-height: 5.8rem;
}
.form_call-back span {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
}

.info_input {
  display: flex;
  flex-direction: column;
  max-width: 94rem;
}
.info_input input {
  max-width: 100%;
  min-height: 7rem;
  margin-top: 1rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1;
  padding-left: 5rem;
  border: 1px solid #9e9e9e;
}
.info_input .textarea {
  min-height: 12.2rem;
  padding-bottom: 4rem;
}
.info_input .info_input_descr {
  display: block;
  margin-top: 5rem;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  color: #777777;
  position: relative;
}
.info_input .info_input_descr img {
  position: absolute;
  display: block;
  width: 2.8rem;
  height: 2.8rem;
  top: 6.5rem;
  left: 1.5rem;
}

.btn_form {
  margin-top: 5.6rem;
}

.btn_form_in {
  font-size: 2rem;
  display: flex;
  width: 28rem;
  height: 9rem;
  border-radius: 5rem;
  border: 2px solid #28bd25;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #28bd25;
}

.btn_form_in:hover {
  color: white;
  background-color: #28bd25;
  transition-duration: 0.6s;
}/*# sourceMappingURL=our_contacts.css.map */
